<nav>
  <div class="site-title">
    <a href="/"><h1>Note Club</h1></a>
    <p>Now Playing: </p>
  </div>
  <ul>
    <li><a href="/">History</a></li>
    <li><a href="/noteclub/create">New Music</a></li>
  </ul>
</nav>