<nav>
  <div class="site-title">
    <a href="/"><h1>Note Club</h1></a>
    <a href="https://musicleague.app/l/b7b86112d7824a27aaa5cad595ccafd1/">
      <img src="/icons/ML-fullcolor-logo.svg" alt="Music League" style="width: 80;height: 80;">
    </a>
  </div>
  <ul>
    <li><a href="/noteclub/create">New Music</a></li>
  </ul>
</nav>