<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-blog content">
    <form action="/noteclub" method="POST">
      <label for="album">Album Title:</label>
      <input type="text" id="album" name="album" >
      <label for="artist">Artist:</label>
      <input type="text" id="artist" name="artist" >
      <label for="member">Member Name:</label>
      <select type="text" id="member" name="member">
        <option value="Cameron Mahood">Cameron Mahood</option>
        <option value="Darshan Patel">Darshan Patel</option>
        <option value="Joe Panzarella">Joe Panzarella</option>
        <option value="John Keith">John Keith</option>
        <option value="Johnny Young">Johnny Young</option>
        <option value="Ken Hertzog">Ken Hertzog</option>
        <option value="Tim Mahood">Tim Mahood</option>
      </select>
      <button>Submit</button>

    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>