@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
    body{
      padding: 0 20px;
      font-family: 'Noto Serif', serif;
      background-color: black !important;
    }

    .table{
      max-width: fit-content !important;
      text-align: center;
    }

    p, h1, h2, h3, a, ul{
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: rgb(255, 255, 255);
    }

    form #albumSearch{
      background-color: #000000;
      width: 300px;
      height: 44px;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    #albumSearch {
      all: unset;
      font: 16px system-ui;
      color: #ffffff;
      height: 100%;
      width: 100%;
      padding: 6px 10px;
    }

    ::placeholder {
      color: #d3d3d3;
      opacity: 0.7; 
    }

    /* nav & footer styles */
    nav{
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
      text-transform: uppercase;
    }
    nav ul{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    nav li{
      list-style-type: none;
    }
    nav h1{
      font-size: 3em;
    }
    nav p, nav a{
      color: #ffffff;
      font-weight: 300;
    }
    footer{
      color: #ffffff;
      text-align: center;
      margin: 80px auto 20px;
    }
    h2{
      margin-bottom: 40px;
    }
    h3{
      text-transform: capitalize;
      margin-bottom: 8px;
    }
    .content{
      margin-left: 0px;
      text-align: -webkit-center;
      overflow-wrap: anywhere;
    }

    /* index styles */
    .blogs a{
      display: block;
      margin: 40px 0;
      padding-left: 30px;
      border-left: 6px solid #6c757d;
    }
    .blogs a:hover h3{
      color: rgb(89, 187, 146);
    }

    /* details styles */
    .details{
      position: relative;
    }
    .delete{
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      padding: 8px;
    }
    .delete:hover{
      cursor: pointer;
      box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    }

    /* create styles */
    #memberSection{
      width: 50%;
      margin: auto;
    }
    .create-blog form{
      max-width: 400px;
      margin: auto;
      text-align: center;
    }
    .create-blog input,
    .create-blog textarea{
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 8px;
    }
    .create-blog label{
      display: block;
      margin-top: 24px;
    }
    .site-title{
      text-align: center;
    }
    textarea{
      height: 120px;
    }
    .create-blog button{
      margin-top: 20px;
      background: rgb(89, 187, 146);
      color: white;
      padding: 6px;
      border: 0;
      font-size: 1.2em;
      cursor: pointer;
    }
    .btn.dropdown-toggle  {
      width:150px;
      text-align:left;
  }
  
  span.caret {
      position: absolute;
      left: 90%;
      top: 45%;
  }
  
  label {
      padding-top:5px;
  }
  
  .form-label {
      padding-left:0px !important;
  }
  
  img {
      width:140px;
      height:140px;
  }
  
  .btn-success {
      background-color: #3b7d4a!important;
  }
  
  .btn-success:hover {
      background-color: #4daf64!important;
  }
  
  img.track {
      border: 1px solid #8a8a8a;
  }